nav {
    background-color: rgba(33, 36, 40, 0.8705882353);
    backdrop-filter: blur(15px);
}

.list-container {
    display: flex;
    justify-content: center;
    color: rgb(157 164 176);
}

.header-profile-image {
    max-width: 60px;
}

li:hover a{
    color: #ff014f;
    transition: all 0.3s ease;
}