<!-- Tarjeta -->
<div class="max-w-sm border rounded-lg shadow general-card-container p-5" (click)="openModal(data)">
    <div class="img-container">
        <img class="tech-icon" [src]="data.img" alt="" />
    </div>
    <div *ngIf="data?.label?.length" class="labels">
        <h3 class="mt-4">
            <span *ngFor="let tag of data?.label">{{ tag }}&nbsp;&nbsp;</span>
        </h3>
    </div>
    <a href="#">
        <h5 class="mb-2 mt-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ data.title }}</h5>
    </a>
</div>

<!-- Modal -->
<div 
  *ngIf="isModalOpen" class="fixed inset-0 z-50 flex justify-center items-center bg-black bg-opacity-50">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Contenido del modal -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Encabezado -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">{{ selectedCardData?.gender }}</h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="closeModal()">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Cuerpo -->
            <div class="p-4 md:p-5 space-y-4">
                <iframe *ngIf="safeVideoUrl" 
          [src]="safeVideoUrl" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen 
          class="w-full h-60 rounded-lg">
  </iframe>
                <h5>{{ selectedCardData?.title }}</h5>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">{{ selectedCardData?.description }}</p>
            </div>
        </div>
    </div>
</div>
