<!-- <section id="technologies">
    <h2 class="mx-auto max-w-screen-xl px-4">LENGUAJES</h2>
    <div class="tech grid grid-cols-2 md:grid-cols-3 gap-8 px-4 py-8 mx-auto max-w-screen-xl">
        <app-tech-card 
            *ngFor="let language of languages" 
            [data]="language">
        </app-tech-card>
    </div>

    <h2 class="mx-auto max-w-screen-xl px-4">FRAMEWORKS</h2>
    <div class="tech grid grid-cols-2 md:grid-cols-3 gap-8 px-4 py-8 mx-auto max-w-screen-xl">
        <app-tech-card 
            *ngFor="let framework of frameworks" 
            [data]="framework">
        </app-tech-card>
    </div>

    <h2 class="mx-auto max-w-screen-xl px-4">DISEÑO</h2>
    <div class="tech grid grid-cols-2 md:grid-cols-3 gap-8 px-4 py-8 mx-auto max-w-screen-xl">
        <app-tech-card 
            *ngFor="let designEngine of design" 
            [data]="designEngine">
        </app-tech-card>
    </div>

    <h2 class="mx-auto max-w-screen-xl px-4">OTROS</h2>
    <div class="tech grid grid-cols-2 md:grid-cols-3 gap-8 px-4 py-8 mx-auto max-w-screen-xl">
        <app-tech-card 
            *ngFor="let other of others" 
            [data]="other">
        </app-tech-card>
    </div>
</section> -->